<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
  <script>
  function healthCheck() {
    alert('This pops up every 5 seconds and is annoying!');
  }

  //setInterval(doSomething, 5000); // Time in milliseconds
  </script>
	<title>Admin Panel</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" href="/css/stylesheet.css" type="text/css">
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3" style="width: 100%;">

	<h1><span class="sign-in"></span> Admin panel</h1>

	<!-- LOGIN FORM -->
		<button type="submit" class="btn btn-warning btn-lg">Login</button>
</div>
<div style="width: 100px; float:left; height:auto; background:magenta; margin:20px">DIV 1</div>

<div style="width: 100px; float:left; height:100px; background:green; margin:20px">DIV 2</div>

<div style="width: 100px; float:left; height:100px; background:cyan; margin:20px">DIV 3</div>
<!-- <div style="width: 200px; height:100%; background-color: gray; position: relative">
  <button type="submit" class="btn btn-warning btn-lg">User</button><br>
  <button type="submit" class="btn btn-warning btn-lg">Login</button><br>
  <button type="submit" class="btn btn-warning btn-lg">Events</button><br>
<div> -->

</div>
</body>
</html>
